<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<div class="flexslider">
<ul class="slides">
	<li><img src="assets/landing_1-48b5327072352e0e6356d28e2aaefc10.jpg" /></li>
	<li><img src="assets/landing_2-57e7e21e55f9cf8221e342e0a4c43f43.jpg" /></li>
</ul>
</div>
