<div class="flexslider">
  <ul class="slides">
    <li class="bg1 bg">
     </li>
    <li class="bg2 bg">
    </li>
  </ul>
</div>
      <div class="bottom-nav-bg"></div>
      <div class="bottom-nav-home">
			  <ul>
				  <li class="bold"><%= link_to "home" , static_pages_home_path  %></li>
			  	<li><%= link_to "about" , static_pages_about_path  %></li>
          <li><%= link_to "contact" , static_pages_home_path  %></li>
			  </ul>
      </div>