/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.bg1{
	height: 100%; 
    background: url(landing_1.jpg)no-repeat center center fixed ;
          -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
}

.bg2{
	height: 100%; 
    background: url(landing_2.jpg)no-repeat center center fixed ;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
}
.hiddenoverflow{
        overflow: hidden;
}
html,body{
	height: 100%;	
    border: 0;
    margin: 0;
}
.slides {
	height: 100%;
}
.flexslider {
	height: 100%;
}
.bottom-nav-home{
bottom: 0;
position : absolute;
text-align: center;
width: 100%;
left: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
text-decoration: none;
font-weight: bold;
    color: white;

}
.bottom-nav-about a{
     text-decoration: none;
    color: #333;
}
.bottom-nav-about a:hover{
     text-decoration: none;
    color: #333;
    font-weight: bold;
}
body{

font: 12px/135% 'Century Gothic',verdana,arial,helvetica,sans-serif;
color: #858585;

}
.bg {
    background-color: #484848;
}
.bottom-nav-home:before {
display: block;
content: '';
position: absolute;
bottom: 60px;
left: 45px;
background: url(/assets/nathan-logo.png) top left no-repeat;
height: 50px;
width: 92px;
background-size: 100%;
}

.bottom-nav-bg {
display: block;
position: absolute;
bottom: 0;
height: 47px;
width: 100%;
background-color: #494949;
opacity: .5;
}
.bottom-nav-home ul li {
display: inline-block;
padding: 0 10px 3px;
}
li {
line-height: 20px
}
.bottom-nav-home ul {
font-size: 12px;
line-height: 12px;
padding: 0;
}
.wrap{
    width: 100%;
    height: 100%;
    bottom: 0;
}
.container{
border: 20px solid #494949;
height: 100%;
display: table;
position: relative;
}
.row{
    margin-left: 17%;
    margin-top: 9%;
    width:60%;
    position: relative;
}

.photo {
position: absolute;
top:0;
right: 0;
background: url(/assets/paul.jpg) no-repeat;
height: 420px;
width: 110px;
background-size: 100%;
}
.bottom-nav-about:before {
display: block;
content: '';
position: absolute;
bottom: 60px;
left: 45px;
background: url(/assets/nathan-logo.png) top left no-repeat;
height: 50px;
width: 92px;
background-size: 100%;
}
.bottom-nav-about{
bottom: 0;
position: absolute;
width: 100%;
left: 0;
}
.bottom-nav-about ul {
margin: 0 20px;
padding: 0 0 10px;
border-top: 1px solid #f1f1f1;
font-size: 12px;
line-height: 12px;

}
.bottom-nav-about ul li {
display: inline-block;
padding: 0 10px 3px;
}
.bold{
    font-weight: bold;
}
.selected{
    background-color: #f1f1f1;
}
.backphoto{

}

.row p {
margin-right: 120px;
font-size: 13px;
line-height: 150%;
margin-bottom: 10px;
}