/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.bg1{
	height: 100%; 
    background: url(landing_1.jpg)no-repeat center center fixed #494949;
          -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
}

.bg2{
	height: 100%; 
    background: url(landing_2.jpg)no-repeat center center fixed #494949;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
}

html,body{
	overflow: hidden;
	height: 100%;	
    border: 0;
    margin: 0;
}
.slides {
	height: 100%;
}
.flexslider {
	height: 100%;
}
.bottom-nav{
bottom: 0;
position : absolute;
text-align: center;
width: 100%;
left: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
text-decoration: none;
font-weight: bold;
}
body{

font: 12px/135% 'Century Gothic',verdana,arial,helvetica,sans-serif;
color: #858585;

}
.bottom-nav:before {
display: block;
content: '';
position: absolute;
bottom: 60px;
left: 45px;
background: url(/assets/nathan-logo.png) top left no-repeat;
height: 50px;
width: 92px;
background-size: 100%;
}
.landing .bottom-nav ul {
height: 47px;
line-height: 47px;
margin: 0;
padding: 0;
border: 0;
text-align: center;
background-color: transparent;
}
.landing .bottom-nav-bg {
display: block;
position: absolute;
bottom: 0;
height: 47px;
width: 100%;
background-color: #494949;
opacity: .5;
}
.bottom-nav ul li {
display: inline-block;
padding: 0 10px 3px;
}
li {
line-height: 20px
}
.bottom-nav ul {
font-size: 12px;
line-height: 12px;
padding: 0;
}
