<!DOCTYPE html>
<html>
	<head>
  		<title>Np</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('.flexslider').flexslider({
    animation: "fade",
    controlNav: false,
    animationSpeed: 900,
    slideshowSpeed: 5000
  });
  });
</script>
	</head>
	<body>
		<%= yield %>      
	</body>
</html>
